.login {
  border: 2px solid #8d99ae;
  width: 40%;
  border-radius: 16px;
  padding: 10px;
  gap: 20px;
  @apply flex flex-col items-center justify-center;
  .login__label {
    font-weight: 700;
    font-size: 30px;
  }
  .login__input {
    width: 70%;
  }
  .login__btn {
    gap: 20px;
    @apply flex;
  }
}
