
.register-container {
  @apply w-full h-screen flex items-center justify-center;
}

.register {
  border: 2px solid #8d99ae;
  width: 40%;
  border-radius: 16px;
  padding: 10px;
  gap: 20px;
  @apply flex flex-col items-center justify-center;
  &__label {
    font-weight: 700;
    font-size: 30px;
  }
  &__input {
    width: 70%;
  }
}
