.room-item {
  @apply  bg-stone-600 h-20 p-1 rounded-lg flex flex-col;
  &__roomate{
    @apply flex items-end h-auto grow ;
    justify-content: space-between;
    width: 185px;
    height: 150px;
  }
}
